/.gitignore
*.o
*.cmd
*.so
*.ko
*.mod.c
*.mk
*.symvers
*.order
*.o.ur-safe
*.o.d
/SOURCE/module/.tmp_versions
/rpmbuild/RPMS
/rpmbuild/diagnose-tools.spec
/SOURCE/diagnose-tools/diagnose-tools
.vscode
